pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('done'), true)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 90
							}
						}
					],
					"timeout": "0.00:00:30"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "done",
					"value": true
				}
			}
		],
		"parameters": {
			"HappyLIttleParameter": {
				"type": "string",
				"defaultValue": "The Value"
			}
		},
		"variables": {
			"done": {
				"type": "Boolean"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-12-17T14:57:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}